body {
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: lightgoldenrodyellow;
  margin: 0;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: stretch; /* Align vertically and take the full height of the tallest element */
}

/* Common styles for sections */
.left-section,
.middle-section,
.right-section {
  flex: 1; /* Each takes up equal width */
  border: 1px solid #000;
  border-radius: 10px;
  margin: 10px; /* space between the boxes */
  padding: 20px; /* space inside the boxes */
  box-sizing: border-box; /* border and padding are included in the box's total width and height */
}

.left-section img {
  max-width: 100%; /* makes the image responsive */
  height: auto;
  border-radius: 10px;
}

.middle-section h2 {
  text-align: center;
  margin-top: 20px;
  font-size: 2em;
  color: #444;
}

.middle-section h3,
.right-section h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.right-section table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.right-section td,
.right-section th {
  padding: 5px;
  border: 1px solid black;
}

.right-section th {
  text-align: left;
}

.middle-section #ingredientsContainer,
.middle-section #directionsContainer {
  margin-top: 20px;
}