html {
    height: 100%;
  }
  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: cadetblue;
  }
  .button {
    /* The below lines of code style the home button and ensure that it is placed to the left corner of the screen */
    /* The background color is set to darkgrey */
    background-color: darkgrey;
    border: none;
    /* Font color is white */
    color: white;
    padding: 15px 32px;
    /* Text centered in the middle of the button */
    text-align: center;
    text-decoration: none;
    /* does not add a line-break after the element, so the home button can sit next to other elements.  */
    display: inline-block;
    /* Font size is 16 pixels */
    font-size: 16px;
    /* Cursor is set to a pointer finger */
    cursor: pointer;
  }
  
  .signup-box {
    /* Ensures that the box stays the same position no matter where you are on the page */
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background:cadetblue;
    /* include the padding and border in an element's total width and height. */
    box-sizing: border-box;
    /* Placed a box shadow around the sign-up box */
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    
  }
  
  .signup-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    /* The words are placed in the center of the page and the cursor is a pointer finger */
    text-align: center;
    cursor: pointer;
  }
  
  .signup-box .user-box {
    position: relative;
  }
  
  .signup-box .user-box input {
    /* The below line of code styles the user input boxes and makes the labels dissappear when you hover. The colors are set for the font to white. */
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    cursor: pointer;
  }
  .signup-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .signup-box .user-box input:focus ~ label,
  .signup-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: cadetblue;
    font-size: 12px;
  }
  
  .signup-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .signup-box a:hover {
    /* The below ligns of code add style elements to the submit button when you hover over it. The box will have a light up animation that is set to the colors listed below */
    background: cadetblue;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }
  
  .signup-box a span {
    /* is positioned relative to the nearest positioned ancestor */
    position: absolute;
    display: block;
  }
  
  .signup-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
     /* Adds multiple different colors to the background */
    background: linear-gradient(90deg, transparent, cadetblue);
    animation: btn-anim1 1s linear infinite;
  }
  /* Adds animation to the submit button */
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .signup-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, cadetblue);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .signup-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .signup-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    /* Adds multiple different colors to the background */
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  