main {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

.navbar-item{
  border: 1px solid black;
  font-size: 20px;
  height: 80px;
}

.navbar-end {
  font-family: 'Poiret One', cursive;
}

.navbar-menu {
  background-color: cadetblue;
  height: 80px;
}

.wrap {
  margin: 50px 20px;
  display: inline-block;
  position: relative;
  height: 60px;
  float: right;
  padding: 0;
  position: relative;
}

input[type="text"] {
  font-size: 20px;
  display: inline-block;
  font-family: "Lato";
  font-weight: 100;
  border: none;
  outline: none;
  color: black;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: relative;
  top: -25px;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

input[type="text"]:focus:hover {
  border-bottom: 1px solid #BBB;
}

input[type="text"]:focus {
  width: 700px;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
}
input[type="submit"] {
  height: 30px;
  width: 30px;
  display: inline-block;
  color:red;
  float: left;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
  background-size: 30px;
  text-indent: -10000px;
  border: none;
  position: relative;
  top: -25px;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity .4s ease;
}

input[type="submit"]:hover {
  opacity: 0.8;
}

div .container {
  font-size: medium;
  margin-top: -100px;
  padding-top: 100px;
  text-align: center;
}

.container p {
text-align: center;
}

h2 {
  font-family: 'Poiret One', cursive;
  text-align: center;
}

h3 {
  font-family: 'Poiret One', cursive;
  text-align: center;
}

h4 {
  font-family: 'Poiret One', cursive;
  text-align: center;
}

.recipe-container,
.container {
text-align: center;
margin: auto;
}

.columns {
  background-color: cadetblue;
}

.recipe-container {
  margin-top: 20px;
  width: 90%;
}

ul {
  color: black;
  display:flex;
  border: 25px dashed cadetblue;
  padding: 50px;
  font-size: 15px;
  font-weight: bold ;
  background-color: cadetblue;
  padding-left: 2rem;
  list-style-type:none;
}